html {
  font-family: "Roboto";
  font-size: 100%;
}

.app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  background: #333;
  color: #999;
  text-align: center;
}

header {
  /* http://paletton.com/#uid=14e0u0kllllaFw0g0qFqFg0w0aF */
  padding: 1rem;
  background: #13073a;
  color: #887caf;
  display: block;
  text-transform: uppercase;
  position: relative;
}

header h1 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

header i {
  position: absolute;
  cursor: pointer;
  top: 1rem;
}

header i:first-child {
  left: 1rem;
}

header i:last-child {
  right: 1rem;
}

header, header h1, .balance .value {
  font-size: 2rem;
}

.balance, .receive-address-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.balance {
  flex: 2;
}

.receive-address-qrcode {
  padding: 0 1rem;
}

.receive-address-qrcode img {
  max-width: 100%;
}

.receive-address-text, .loading, .no-key {
  flex: 1;
}

.loading, .no-key {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.loading i {
  font-size: 6rem;
}

.no-key input {
  border: 0;
  outline: 0;
  padding: 0.25rem;
  background: #eee;
  color: #333;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0 auto;
  width: calc(100% - 2rem);
  max-width: 500px;
}

.no-key input::placeholder {
  color: #aaa;
}
