html {
  font-family: "Roboto";
  font-size: 100%;
}

.app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  background: #333;
  color: #999;
  text-align: center;
}

.app > *:not(.receive-address-qrcode):not(header) {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

header {
  /* http://paletton.com/#uid=14e0u0kllllaFw0g0qFqFg0w0aF */
  padding: 1rem;
  background: #13073a;
  color: #887caf;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

header, .balance .value {
  font-size: 2rem;
}

.receive-address-qrcode {
  padding: 0 1rem;
}

.receive-address-qrcode img {
  max-width: 100%;
}
