html {
  font-family: "Roboto";
  font-size: 100%;
}

.app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  background: #333;
  color: #999;
  text-align: center;
}

.app > * {
  padding: 1rem;
}

header {
  /* http://paletton.com/#uid=14e0u0kllllaFw0g0qFqFg0w0aF */
  background: #13073a;
  color: #887caf;
  font-size: 2rem;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

main > *, .receive-address > * {
  margin-bottom: 1rem;
}

.receive-address img {
  max-width: 100%;
}
